.section1 {
  background-color: #f59cb4;
  min-height: 350px;
  width: 100%;
  padding-top: 50px;
}

.box-hotline {
  background-color: white;
  border-radius: 41px;
  padding: 30px;
  margin-bottom: 20px;
}

.section2 {
  padding-top: 20px;
  background-color: #f59cb4;
  min-height: 200px;
}

.section3 .col-sm-6 li {
  letter-spacing: 2px;
  font-family: Scheherazade;
  font-size: large;
  padding-top: 20px;
}
