.container-text {
  text-align: left;

  font-family: Merriweather;
  padding: 50px;
}
.containers {
  background-color: white;
  width: 50%;
  height: 1000px;
  border-radius: 41px;
  padding-bottom: 190px;
}
.container-submit {
  display: flex;
  justify-content: center;
}
.container-text img {
  width: 40px;
  height: 40px;
}
.button-submit {
  display: flex;
  justify-content: center;
}
.all-submit {
  background-color: #ccd6ee;
  width: 100%;
}
/*Submit Article*/
#subArticle {
  padding: 50px;
  background-color: #ccd6ee;
  width: 100%;
  display: flex;
  justify-content: center;
}
